<body style="background-color:black;">

<div class="container">
  <h1><%= @cocktail.name %></h1>
<br>
  <div class="show-card">

    <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1586&q=80" id="cocktail">

    <div class="recipe-card">
      <% @cocktail.doses.each do |dose| %>
      <p>
      <li>
      <%= p dose.ingredient.name %>:
      <%= p dose.description %>
      <%= link_to "-",
                        dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      </li>
      </p>
      <% end %>

      <br>
      <div class="btn btn-secondary">
        <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
      </div>

      <br>
      <div class="btn btn-secondary">
       <%= link_to 'Back to cocktails', root_path %>
      </div>
    </div>
  </div>
</div>
